/* <style>
	@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/Geometria-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Geometria;
    src: url(geometria_font/geometria-medium.ttf);
    font-weight: 500;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    background: dodgerblue;
    padding: 20px 0;
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 99;
}

#header #logo {
    float: left;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
}

#header #logo svg {
    padding: 0;
    margin: 5;
    max-height: 60px;
}

@media (max-width: 768px) {
    #header {
        height: 80px;
    }
    #header #logo h1 {
        font-size: 26px;
    }
}

.is-sticky #header {
    background: dodgerblue;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Nav Menu Essentials */

ul {
    font: font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


/* Mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
}

#mobile-nav-toggle i {
    color: #fff;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}


/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #03C4EB;
}

#mobile-nav ul .menu-item-active {
    color: #03C4EB;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}


/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}


/*  */

#footer {
    background: DodgerBlue;
    padding: 30px 0;
    color: #fff;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

.links {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
}

.address {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
    color: #ccc;
}

body {
    background-color: #e6e9f0;
}

a {
    text-decoration: none;
}

.cover_img img {
    max-width: 100%;
    width: 650px;
    height: 250px;
}

.cover_img {
    border-radius: 35px 15px;
}

.blog-cards {
    padding: 30px;
    padding-top: 120px;
}

.blog-card {
    padding: 15px;
    background-color: #3d90d4;
    border: 4px;
    border-color: aqua;
    border-radius: 35px 15px;
}

.author-pic {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.blog-by {
    margin-left: -50px;
}

.blog-desc {
    padding-left: 30px;
}

.read-btn {
    background-color: rgb(150, 150, 194);
    padding: 10px;
    border-radius: 15px;
}

a .read-btn ::hover {
    background-color: rgb(16, 161, 167);
    color: white;
}

.my-btn {
    border: 0;
    outline: 0;
    background-color: rgb(103, 16, 241);
    color: #fff;
    height: 30px;
    width: 100px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 7px 0 #663333, 0 10px 10px #808080;
    transition: 200ms;
    font-size: 16px;
    margin: 0 15px
}

.my-btn:active {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    box-shadow: 0 5px 0 #663333, 05px 5px #000;
}